# the first data frame: df is for Adjusted Close price

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("sp500_joined_closes.csv", index_col=0)
df.fillna(0, inplace = True)
df.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,AOS,APA,AIV,AAPL,AMAT,APTV,ADM,ANET,AJG,AIZ
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,27.323933,6.810734,0.0,18.37500,0.0,1.143539,16.693562,14.46875,0.0,29.469620,...,0.649166,12.383977,14.637461,3.187337,24.136431,0.0,7.149089,0.0,7.916804,0.0
2000-01-03,26.346825,6.564564,0.0,18.25000,0.0,1.227554,16.274673,15.50000,0.0,28.582567,...,0.643602,11.441033,13.971079,3.470226,24.100704,0.0,7.075386,0.0,7.779252,0.0
2000-01-04,25.299936,6.377004,0.0,17.81250,0.0,1.190215,14.909401,14.62500,0.0,27.449125,...,0.634328,10.938130,13.787245,3.177650,22.909958,0.0,7.001688,0.0,7.427733,0.0
2000-01-05,26.032759,6.365284,0.0,18.00000,0.0,1.194882,15.204173,15.00000,0.0,27.744810,...,0.632473,11.252445,13.925120,3.224152,22.052626,0.0,6.891133,0.0,7.458300,0.0
2000-01-06,28.126556,6.588011,0.0,18.03125,0.0,1.171544,15.328290,16.00000,0.0,27.966566,...,0.623199,12.321113,14.200863,2.945139,22.088339,0.0,6.927988,0.0,7.444930,0.0

In [11]:
tickers = df.columns.values.tolist()
tickers

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'AGN',
 'ADS',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AIV',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ANET',
 'AJG',
 'AIZ']